#test {
    font-family: 'Comic Sans MS';
    color: rgb(0, 0, 0);
}
body{
    color: rgb(3, 75, 30) ;
}
#linkcolor{
    color: rgb(216, 6, 188);
}

#whiteoutline {
    font-size:x-large;
}

#whiteinline {
  font-size: large;
}

html, body {
    width: 50%;
    height:50%;
  }
  
  body {
    background: rgb(117, 211, 192);
    background: radial-gradient(circle, rgb(100, 200, 100) 0%, rgb(100, 100, 100) 35%, rgb(200, 100, 200) 100%);       background-size: 120% 100%;
}

#Waterfall1Text {
    font-weight: bold;
}

#linkcolor {
    color: #000000;
}

#textcolor {
    color: #000000;
}